@page "/fetchdata"
@using PetShopMetrics.Models
@using System.Text.Json
@using System.Text.Json.Serialization;
@inject MonitoringAPIClient API

<h1>Merchandise Filter</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (merch == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Date</th>
                <th>Items found</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in merch)
            {
                <tr>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Category</td>
                    <td>@item.DateAndTime</td>
                    <td>@item.NumberRecordsReturned</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<MerchandiseFilter> merch;
    private IEnumerable<Session> sessions;

    protected override async Task OnInitializedAsync()
    {
        merch = await API.GetMerchandiseFilter();
    }

    protected async Task GetSessions()
    {
        sessions = await API.GetSessions();
        StateHasChanged();
    }
}
